{% load static %}

<html class="no-js" lang="zxx">

<head>
    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>{{title}} - YGrape</title>
    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="/static/image/ico.ico" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="/static/css/base.css">
    <!--====== js Here ======-->
    <script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://cdn.highcharts.com.cn/highcharts/modules/drilldown.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>

</head>
<body>
    {% block header %}
    {% include 'header.html' %}
    {% endblock %}
    
    {% block navs %}
    {% include 'navs.html' %}
    {% endblock %}
    
    {% block content %}

    {% endblock %}

</body>
</html>