{% extends 'base.html' %}

{% block content %}
<div class="main">
<div class="mainav">
    <ul>
        <a href="/group"><li>分组管理</li></a>
        <a href="/control"><li>执行单元</li></a>
        <a href="/plan"><li>执行计划</li></a>
        <a href="/trigger"><li>触发器</li></a>
    </ul>
</div>
<div class="mainav2">
    <ul>
        <a href="/plan"><li>执行计划管理</li></a>
        <a href="/addplan"><li>添加执行计划</li></a>
    </ul>
</div>

<div class="body">
    <p style="font-size: 30px;margin: 30px;color: rgb(77, 77, 77);text-align: center;"><b>执行计划管理</b></p>
<table class="table">
    <tbody>
        <tr class="tabletitle">
            <td width="50">序号</td>
            <td>名称</td>
            <td>执行单元</td>
            <td>时间</td>

            <td width="30">操作</td>
        </tr>
        {% for data in datas %}
        <tr>
            <td width="50">{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.order}}</td>
            <td>{{data.time}}:00</td>
            <td ><form action="" method="post"><textarea id="sc" name="sc" style="display: none;">{{data.id}}</textarea><input type="submit" name="submit" id="" class="btn-primary" value="删除" /></form></td>
        </tr>
        {% endfor %}

    </tbody>
</table>
</div>
</div>




{% endblock %}